@import 'vendor/twbs/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');

body {
    font-family: 'Noto Serif JP', serif;
    font-size: 16px;
    color: #333333;
    @media (max-width: 575.98px) { height: 100vh; }

    a {
        color: #333333;
        &:hover {
            color: #333333;
            text-decoration: none;
        }
    }

    @mixin Side_Menu-Title {
        font-size: 1.1rem;
        font-weight: bold;
        border-bottom: solid 1px #333333;
        padding: 16px 0 0 4px;
        position: relative;

        &::before {
            content: attr(data-en);
            font-size: 1.75rem;
            font-weight: normal;
            color: rgba(#333333, 0.2);
            text-transform: uppercase;
            position: absolute;
                top: 0px;
                left: 0px;
        }
    }

    .Side_Menu {
        .Title_Menu {
            @include Side_Menu-Title;
            .fa-bars { margin-right: 4px; }
            margin-bottom: 16px;
        }

        @mixin Side_Menu-Link {
            width: 80%;
            padding: 2px 8px;
            margin: 0 auto 8px;
            display: block;
        }

        &__Home {
            @include Side_Menu-Link;
            .fa-home { margin-right: 4px; }
        }

        &__SignIn {
            @include Side_Menu-Link;
            .fa-sign-in-alt { margin-right: 4px; }
        }

        &__SignUp {
            @include Side_Menu-Link;
            margin: 0 auto;
            .fa-user-plus { margin-right: 4px; }
        }

        .Title_Login {
            @include Side_Menu-Title;
            .fa-sign-in-alt { margin-right: 4px; }
            margin: 24px 0 16px;
        }

        .Side_Menu-Login {
            width: 80%;
            margin: 0 auto;
            .fa-at { margin-right: 4px; }
            .fa-key { margin-right: 4px; }

            &--Input {
                height: 2.0rem;
                padding: 0 8px;
                margin: -4px 0 16px;
            }

            &--Submit {
                width: 80%;
                height: 2.0rem;
                font-size: 0.9rem;
                margin: -12px 0 0 20px;
            }
        }
    }

    .GU_Staff {
        margin-left: 16px;

        &__Title {
            margin-bottom: 16px;

            h2 {
                font-size: 1.5rem;
                font-weight: bold;
            }

            &--Text {
                position: relative;
                    top: -2px;
            }
            &--Small { font-size: 1.0rem; }
            &--Mute {
                font-size: 0.8rem;
                margin: -26px 0 0 58px;
            }

            @media (max-width: 575.98px) {
                margin-bottom: 8px;
                h2 { font-size: 1.0rem; }

                &--Small { font-size: 0.8rem; }
                &--Mute {
                    font-size: 0.6rem;
                    margin: -36px 0 0 58px;
                }

                &--Text {
                    position: relative;
                        top: -12px;
                }
            }
        }

        &__Form {
            margin-left: 60px;

            &__Gender {
                margin-bottom: 16px;
                display: flex;
                    flex-direction: row;

                &__Ladies { margin-right: 16px; }
                &--Title {
                    height: 1.5em;
                    padding: 2px;
                    margin: 3px 8px 0 0;
                }

                @media (max-width: 575.98px) { margin: 0 0 16px -60px; }
            }

            &__Hash-Tag {
                width: 75%;
                margin: -8px 0 0 28px;

                &--Link {
                    background-color: #ffffff;
                    padding: 2px 8px;
                    margin-bottom: 8px;
                }

                &__Select {
                    font-size: 1.0rem;

                    select {
                        border: solid 1px #333333;
                        border-radius: 8px;
                        padding: 2px 4px;
                    }

                    &--Submit {
                        padding: 0 8px;
                        margin-top: -4px;
                    }
                }

                @media (max-width: 575.98px) {
                    width: 100%;
                    margin: -8px 0 0 -32px;

                    input {
                        font-size: 0.8rem;
                        padding: 0px 4px;
                    }

                    &__Select {
                        font-size: 0.8rem;

                        &--Submit {
                            padding: 0 8px;
                            margin-top: -2px;
                        }
                    }
                }
            }
        }
    }

    .Sign-Up {
        margin-left: 40px;

        .Title_Menu {
            @include Side_Menu-Title;
            .fa-user-plus { margin-right: 4px; }
            margin-bottom: 16px;
        }

        @mixin Resist_Form {
            display: flex;
                flex-direction: row;

            &--Label {
                width: 330px;
                margin-top: 4px;
            }
        }

        &__Name { @include Resist_Form; }
        &__Mail { @include Resist_Form; }
        &__Password { @include Resist_Form; }
        &__Password-Confirm {
            @include Resist_Form;
            &--Label {
                label {
                    span { font-size: 0.8rem; }
                }
            }
        }

        &--Submit {
            width: 62%;
            font-size: 0.9rem;
            margin: -24px 0 0 200px;
        }
    }
}
