@import 'vendor/twbs/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&family=Parisienne&display=swap');

@import 'modules/header';
@import 'modules/left-side';

body {
    font-family: 'Noto Serif JP', serif;
    font-size: 16px;
    color: #333333;
    @media (max-width: 575.98px) { height: 100vh; }

    a {
        color: #333333;
        &:hover {
            color: #333333;
            text-decoration: none;
        }
    }

    .GU_Staff {
        margin: 36px 0 0 16px;

        &__Title {
            margin-bottom: 16px;

            h2 {
                font-size: 1.5rem;
                font-weight: bold;
            }

            &--Text {
                position: relative;
                    top: -2px;
            }
            &--Small { font-size: 1.0rem; }
            &--Mute {
                font-size: 0.8rem;
                margin: -26px 0 0 58px;
            }

            @media (max-width: 575.98px) {
                margin-bottom: 8px;
                h2 { font-size: 1.0rem; }

                &--Small { font-size: 0.8rem; }
                &--Mute {
                    font-size: 0.6rem;
                    margin: -36px 0 0 58px;
                }

                &--Text {
                    position: relative;
                        top: -12px;
                }
            }
        }

        &__Form {
            margin-left: 60px;

            &__Gender {
                margin-bottom: 16px;
                display: flex;
                    flex-direction: row;

                &__Ladies { margin-right: 16px; }
                &--Title {
                    height: 1.5em;
                    padding: 2px;
                    margin: 3px 8px 0 0;
                }

                @media (max-width: 575.98px) { margin: 0 0 16px -60px; }
            }

            &__Hash-Tag {
                width: 75%;
                margin: -8px 0 0 28px;

                &--Link {
                    background-color: #ffffff;
                    padding: 2px 8px;
                    margin-bottom: 8px;
                }

                &__Select {
                    font-size: 1.0rem;

                    select {
                        border: solid 1px #333333;
                        border-radius: 8px;
                        padding: 2px 4px;
                    }

                    &--Submit {
                        padding: 0 8px;
                        margin-top: -4px;
                    }
                }

                @media (max-width: 575.98px) {
                    width: 100%;
                    margin: -8px 0 0 -32px;

                    input {
                        font-size: 0.8rem;
                        padding: 0px 4px;
                    }

                    &__Select {
                        font-size: 0.8rem;

                        &--Submit {
                            padding: 0 8px;
                            margin-top: -2px;
                        }
                    }
                }
            }
        }

        .GU_Product {
            margin: 32px 0 0 48px;

            &--Title {
                font-size: 1.1rem;
                font-weight: bold;
                padding-left: 56px;
                position: relative;

                &::before {
                    content: attr(data-number);
                    color: rgba(#333333, 0.2);
                    font-size: 2.5rem;
                    font-weight: normal;
                    transform: translateY(-50%);
                    position: absolute;
                        top: 50%;
                        left: 0;
                }

                &::after {
                    content: '';
                    background-color: rgba(#333333, 0.2);
                    width: 100px;
                    height: 1px;
                    position: absolute;
                        left: 0;
                        bottom: 0;
                }

                span {
                    font-size: 0.8rem;
                    font-weight: normal;
                }
            }

            &__Form {
                margin: 16px 0 0 56px;
                display: flex;
                    flex-direction: row;

                &--Input {
                    height: 2.0rem;
                    border: solid 1px rgba(#333333, 0.3);
                    border-radius: 6px;
                }

                &--Help {
                    margin: -2px 0 0 64px;
                }

                &--Submit {
                    height: 2.0rem;
                    padding: 0 8px;
                    margin-left: -32px;
                }
            }
        }
    }

    .Sign-Up {
        margin-left: 40px;

        .Title_Menu {
            @include Side_Menu-Title;
            .fa-user-plus { margin-right: 4px; }
            margin-bottom: 16px;
        }

        @mixin Resist_Form {
            display: flex;
                flex-direction: row;

            &--Label {
                width: 330px;
                margin-top: 4px;
            }
        }

        &__Name { @include Resist_Form; }
        &__Mail { @include Resist_Form; }
        &__Password { @include Resist_Form; }
        &__Password-Confirm {
            @include Resist_Form;
            &--Label {
                label {span { font-size: 0.8rem; }}
            }
        }

        &--Submit {
            width: 62%;
            font-size: 0.9rem;
            margin: -24px 0 0 200px;
        }
    }

    .User_MyPage {
        .Title_Menu {
            @include Side_Menu-Title;
            .fa-user-circle { margin-right: 4px; }
        }

        &--Title {
            font-size: 1.0rem;
            font-weight: bold;
            padding-left: 44px;
            margin-top: 32px;
            position: relative;

            &::before {
                content: attr(data-number);
                color: rgba(#333333, 0.2);
                font-size: 2.0rem;
                font-weight: normal;
                transform: translateY(-50%);
                position: absolute;
                    top: 50%;
                    left: 0;
            }

            &::after {
                content: '';
                background-color: rgba(#333333, 0.2);
                width: 100px;
                height: 1px;
                position: absolute;
                    left: 0;
                    bottom: 0;
            }
        }

        &__Profile {
            margin: 16px 0 0 44px;

            .badge {
                margin-bottom: 8px;
                position: relative;
                    top: -2px;
            }
        }

        &__Bookmark {
            margin-top: 16px;

            &--Number {
                width: 5.5em;
                text-align: center;
            }

            &--Name {
                text-align: center;
            }

            &--Date {
                width: 9.5em;
                text-align: center;
            }

            &--Delete {
                width: 3.5em;
                text-align: center;
            }
        }
    }
}
