header {
    height: 48px;
    box-shadow: 0 8px 8px -8px rgba(#333333, 0.2);
    margin-bottom: 32px;

    .Header {
        display: flex;
            justify-content: space-between;
            align-items: center;

        h1 {
            font-size: 2.0rem;
            font-weight: bold;
            margin-top: 4px;
        }

        &__Menu {
            display: flex;
                flex-direction: row;

            &--Top {
                .fa-home { font-size: 1.0rem; }
                width: 6.5em;
                height: 40px;
                font-size: 0.8rem;
                padding: 2px 8px;
                margin-right: 8px;
            }

            &--SignIn {
                .fa-sign-in-alt { font-size: 1.0rem; }
                width: 6.5em;
                height: 40px;
                font-size: 0.8rem;
                padding: 2px 8px;
                margin-right: 4px;
            }

            &--SignUp {
                .fa-user-plus { font-size: 1.0rem; }
                width: 6.5em;
                height: 40px;
                font-size: 0.8rem;
                padding: 2px 8px;
                margin: 0;
            }

            &--SignOut {
                width: 6.5em;
                height: 40px;
                font-size: 0.8rem;
                padding: 2px 8px;
            }
        }
    }

    @media (max-width: 575.98px) {
        height: 40px;

        h1 {
            font-size: 1.5rem;
            margin: 0 0 0 -16px;
        }

        .Header {
            &__Menu { display: none; }
        }
    }
}

.Footer {
    display: none;

    @media (max-width: 575.98px) {
        height: 48px;
        display: block;
        position: absolute;
            bottom: 0;

        &--Top {
            .fa-home { font-size: 1.0rem; }
            width: 25%;
            height: 48px;
            font-size: 0.8rem;
            margin-left: -15px;
        }

        &--SignIn {
            .fa-sign-in-alt { font-size: 1.0rem; }
            width: 25%;
            height: 48px;
            font-size: 0.8rem;
            margin-left: -7px;
        }

        &--SignUp {
            .fa-user-plus { font-size: 1.0rem; }
            width: 25%;
            height: 48px;
            font-size: 0.8rem;
            margin-left: -7px;
        }
    }
}
